@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.custom-cursor.active,
.cursor-dot.active {
  opacity: 1;
  transition: opacity 0.5s;
}

@layer base {
  .sub-heading {
    @apply inter text-[75px] -1024:text-[50px] tracking-tighter font-semibold leading-[100%];
  }
  .logo-text {
    @apply text-[100px] font-semibold inter;
  }
}

.geist {
  font-family: "Geist Mono", monospace;
}

.inter {
  font-family: "Inter Tight", sans-serif;
}

.line-anim {
  position: relative;
  width: fit-content;
  z-index: 3;
}

.line-anim::before {
  content: "";
  position: absolute;
  height: 2px;
  transform: scaleX(0);
  width: 100%;
  bottom: 0;
  background-color: black;
  transition: transform 0.6s cubic-bezier(0.76, -0.03, 0.36, 1.03);
  transition-delay: var(--delay, 0s);
  transform-origin: right;
  z-index: 2;
}

.line-anim.white::before {
  background-color: white;
}

.line-anim:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.no-clip {
  overflow: visible !important;
}

.marquee {
  animation: infiniteMarquee 18s infinite linear;
  transition: animation-duration 1s ease-in-out;
}

@keyframes infiniteMarquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.reverse-marquee {
  animation: reverseInfiniteMarquee 18s infinite linear;
}

@keyframes reverseInfiniteMarquee {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.marquee-parent {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.wheelCont {
  position: fixed;
  pointer-events: none;
  transform: scale(0);
  z-index: 700;
  mix-blend-mode: difference;
}

.wheelCont img {
  max-width: 30px;
  width: 100%;
  z-index: 700;
  position: relative;
  filter: invert(1);
}

.sjnwei {
  background: #e65d00;
}
